/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.fc-white {
  color: #FFF;
}
.footer {
  padding-top: 6em;
  background: #25282a;
  color: rgba(255, 255, 255, 0.6);
}
.footer .block-title {
  margin-bottom: 30px;
  font-size: 13px;
  color: #e6e6e6;
  text-transform: uppercase;
  font-weight: 700;
}
.footer p {
  font-size: 14px;
  line-height: 1.8;
}
.footer .block {
  margin-bottom: 10px;
}
.footer .view-contact-info img {
  width: 20px;
  float: left;
  margin-right: 5px;
}