/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
body {
  margin-top: 0;
}
body.navbar-is-fixed-top {
  margin-top: 0;
}
.fc-white {
  color: #FFF;
}
#navbar {
  
}
#navbar .navbar-header {
  float: right;
}
.navbar-default {
  border: none;
  background-color: transparent;
}
.name.navbar-brand {
  display: none;
}
.footer {
  padding-top: 6em;
  background: #25282a;
  color: rgba(255, 255, 255, 0.6);
}
.footer .block-title,
.footer #block-holafitness-footer-menu {
  margin-bottom: 30px;
  font-size: 13px;
  color: #e6e6e6;
  text-transform: uppercase;
  font-weight: 700;
}
.footer p {
  font-size: 14px;
  line-height: 1.8;
}
.footer img {
  display: initial;
}
.footer .block {
  margin-bottom: 15px;
}
.footer .view-contact-info .views-row {
  margin-bottom: 12px;
}
.footer .view-contact-info img {
  width: 20px;
  margin-right: 5px;
}
.footer a {
  color: rgba(255, 255, 255, 0.9);
}
.flexslider {
  border: none;
}
.view-slide-hero .slides {
  text-align: center
}
.container-hero-fields {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-hero-fields .views-field-body {
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;
  opacity: .8;
  color: #FFF;
}